@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    background: #222435;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


*:focus{
    outline: none;
}

h1{
    font-weight: 900;
    color: #7d83b9;
    text-align: center;
}

form{
    display: flex;
    position: relative;
    width: 800px;
    height: 60px;
    /* background: red; */
    margin: 30px auto;
    margin-bottom: 60px;

}

button.add {
    position: absolute;
    top: 0;
    right: 0;
    background: #463b65;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 25px;
    height: 62px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

button.add:hover{
    color: white;
    background: #363f88;
}

.listaTarefas{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 800px;
    margin: auto;
}

.listaCompras{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 800px;
    margin: auto;
}

input {
    display: flex;
    width: 100%;
    height: 60px;
    background: #2d3046;
    border: none;
    padding-left: 30px;
    font-size: 16px;
    border-radius: 10px;
    color: white;
}

.item{
    display: flex;
    justify-content: space-between;
    border: 1px solid #363b65;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.item:hover {
    background: #151627;
}

.item span{
    text-align: start;
    width: 100%;
    /* color: white; */
    color: #4d506e;
    margin-right: 10px;
    padding: 10px 15px;
}

.item.completo{
    display: flex;
    justify-content: space-between;
    background: #1e1f2e;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0.4;
}

button.del{
    background:none;
    border: none;
    color: #4d506e;
    padding: 15px;
    cursor: pointer;
}

button.del:hover{
    background:#ff004c;
    border: none;
    color: white;
    padding: 15px;
    cursor: pointer;
}

button.deleteAll{
    border: 1px solid #ff004c;
    background: none;
    padding: 15px;
    color: #ff004c;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

.icone-central{
    max-width: 100%;
}

button.deleteAll:hover{
    background: #ff004c;
    color: white;
}

.myInput{
    margin-right: 10px;
    margin-bottom: 10px;
}

.inputDefault{
    width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.item.completo span{
    text-align: start;
    width: 100%;
    color: #4d506e;
    margin-right: 10px;
    padding: 10px 15px;
    text-decoration: line-through; 
}


.myBox {
    width: 20px;
    height: 20px;
}

.buttonConfirm {
    margin-top: 20px;
    width: 250px;
    height: 50px;
    background-color: #4cc9f0;
    border-radius: 10px;
    border: none;
}

.buttonConfirm:active {
    box-shadow: 0 4px 8px rgba(29, 121, 197, 0.2); /* Adiciona sombreamento ao pressionar o botão */
}

.div_center {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.div_login {
    display: flex;
    flex-direction: column; /* empilha itens verticalmente */
    align-items: center; /* centraliza verticalmente */
    justify-content: center; /* centraliza horizontalmente */
    margin-left: auto;
    border: 1px solid green;
    width: 400px;
    height: 400px;
}


.modalPessoal {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    background-color: whitesmoke;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    margin: auto;
}


.modalPessoal:target {
    visibility: visible;
    opacity: 1;
  }

  .modalContent {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
  }

  .modalFooter {
    text-align: right;
    margin-top: 50px;
  }

  .modalClose {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
  }

  .modalBtnClose {
    width: 150px;
    padding: 10px;
    text-decoration: none;
    background-color: #cfcca8;
    color: #000000;
    border-radius: 3px;
  }

.divMenu{
    padding-bottom: 40px;
    border-bottom: 1px dotted #7d83b9;
}

.titulo {
    color: #7d83b9;;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.divConteudo {
    border: 1px dotted whitesmoke;
    border-radius: 10px;
    padding: 20px;
    background-color: whitesmoke;
}


@media screen and (max-width: 900px) {
    form{
        width: 100%;
    }
    .listaTarefas{
        max-width: 90%;

    }
    .listaCompras{
        width: 100%;

    }

    /* .icone-central{
        max-width: 90%;
    } */
    
    form {
        max-width: 90%;
    }

}


